{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div ref="words" data-words="{{ words|join(',') }}">

    </div>

    <div id="app">
        <App></App>
    </div>
{% endblock %}
